{% extends 'home/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="card bg-dark text-white pb-3">
  <img style="object-fit: cover;
  height: max(25rem, 40vh); opacity: 0.5" class="card-img" src="https://images.unsplash.com/photo-1548092372-6fa982d00458?ixid=
  MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" alt="...">

  <div class="card-img-overlay">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <h3 style="color: #ddffdd">Ești gata să-ți începi cariera?</h3>

          <i class="bi bi-github" style="font-size: 2rem; color: #dedcdc;"></i>
          <i class="bi bi-facebook" style="font-size: 2rem; color: #dedcdc;"></i>
          <i class="bi bi-youtube" style="font-size: 2rem; color: #dedcdc;"></i>
          <h1 class="pt-5 pb-1 text-light" style="font-size: 50px; letter-spacing: -2px"><strong>Programming<br>
              School</strong></h1>


        </div>
        <div class="col-sm text-end pt-2">

        </div>
      </div>
      <div class="row text-center">

      </div>
    </div>
  </div>
</div>

<div class="container-fluid mb-2 pb-5 p-3" style="background-image: linear-gradient(#fafa07, #5df5bb)">
  <div class="row">
    <div class="col-sm-5 mb-2 p-5">
      <h5 class="pt-4 text-secondary">LET’S COLLABORATE</h5>

      <h1 class="text-light" style="font-size: 50px"><strong>Ready to</strong></h1>
      <h1 class="text-dark"><strong>learn with us?</strong></h1>
      <a class="btn btn-secondary text-light btn-lg mt-3" style="width: 200px"
        href="{% url 'register'%}?next={{request.path}}">Register</a>
    </div>
    <div class="col-sm-6 bg-dark text-light p-3 mt-3 mb-3" style="border-radius: 18px">
      <h2 class="pt-3"><strong>Ce vei invata?</strong></h2>
      <p class="lead pt-3">Învățați Java, Python, C++, HTML într-un mediu de învățare bazat pe practica
        si proiecte reale, studiați teoria și puneți-o
        imediat în practică prin construirea de aplicații de lucru.</p>
      <div class="row pb-3 pt-3">
        <div class="col">
          <img src="https://icons.iconarchive.com/icons/cornmanthe3rd/plex/48/Other-html-5-icon.png" alt="...">
          HTML
        </div>
        <div class="col">
          <img src="https://icons.iconarchive.com/icons/cornmanthe3rd/plex/48/Other-python-icon.png" alt="...">
          Python
        </div>
        <div class="col">
          <img src="https://icons.iconarchive.com/icons/tatice/cristal-intense/48/Java-icon.png" alt="...">
          Java
        </div>
        <div class="col">
          <img src="https://icons.iconarchive.com/icons/mart/glaze/48/source-cpp-icon.png" alt="...">
          C++
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm pt-3 mt-3">
      <div class="card text-center" style="border-left: 3px solid #ff0026; background-color: rgba(196,220,232,0)">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h4 class="card-title text-dark"><strong>OBTINETI CUNOSTINTE APROFUNDATE</strong></h4>
          <h6 class="text-secondary">O CALE CATRE SUCCESUL INVATARII</h6>
          <p class="card-text" style="font-size: smaller">A învăța să codificați înseamnă mai mult decât memorarea
            sintaxei.
            În schimb, vă ajutăm să gândiți ca un programator adevărat.</p>
          <a href="#" class="btn btn-danger">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container-fluid pt-1 pb-3 mb-3">




</div>
<div class="container-fluid m-0 mt-1">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="card d-block w-100 mb-3" style="background-color: #003366; color: #e0ffcc">
          <div class="card-header">
            <h1>Incepe o cariera in programare</h1>
          </div>
          <div class="card-body p-5" style="font-weight: lighter; font-size: 25px">Proiectul Programing School a fost
            fondat cu ideea unui centru educațional inovator și modern,
            care creează adevărați profesioniștiîn lumea programării. Pentru noi...</div>
          <div class="card-footer">Citeste mai departe</div>
        </div>
      </div>


      <div class="carousel-item">
        <div class="card d-block w-100" style="background-color: #003366; color: #e0ffcc">
          <div class="card-header">
            <h1>Programare cu Python</h1>
          </div>
          <div class="card-body p-5" style="font-weight: lighter; font-size: 25px">Cursul „Program cu Python” se
            concentrează pe obținerea cunoștințelor aprofundate despre
            programare cu limbajul de programare Python. Elevii vor...</div>
          <div class="card-footer">Citeste mai departe</div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="card d-block w-100" style="background-color: #003366; color: #e0ffcc">
          <div class="card-header">
            <h1>Aptitudini practice</h1>
          </div>
          <div class="card-body p-5" style="font-weight: lighter; font-size: 25px">Accentul modelului nostru
            de formare este transformarea cunoștințelor dobândite în abilități practice reale și, prin urmare,
            pregătirea este combinată cu ...</div>
          <div class="card-footer">Citeste mai departe</div>
        </div>
      </div>




    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
  {% endblock%}