{% extends 'home/base.html' %}
{% load static%}
{% load bootstrap4 %}

{% block title %}Home{% endblock %}

{% block content %}
    {% for posts in post %}
        {% if posts.image %}
            <picture><img class="img-fluid" src="{{ posts.image.url }}" width="320px"/></picture>
            <h1>{{ posts.title }}</h1>
            {% autoescape off %}{{ posts.post }}{% endautoescape %} 
        {% else %}
            <h1>{{ posts.title }}</h1>
            {% autoescape off %}{{ posts.post }}{% endautoescape %} 
        {% endif %}
    {% endfor %}
{% endblock%}