<footer class="page-footer pt-4 text-center text-md-left">


  <div class="container">
      <!-- Grid row -->
      <div class="row mb-3">

          <!-- First column -->
          <div class="col-md-12">

              <ul class="list-unstyled d-flex justify-content-center mb-0 py-4 list-inline">
                  <li class="list-inline-item">
                      <a class="p-2 m-2 fa-lg fb-ic">
                          <i class="fab fa-facebook-f white-text fa-lg"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a class="p-2 m-2 fa-lg tw-ic">
                          <i class="fab fa-github white-text fa-lg"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a class="p-2 m-2 fa-lg gplus-ic">
                          <i class="fab fa-youtube white-text fa-lg"></i>
                      </a>
                  </li>
              </ul>

          </div>
          <!-- /First column -->
      </div>
      <!-- /Grid row -->
  </div>
  <!-- /.Footer Links -->

                  <!-- Copyright -->
  <div class="footer-copyright py-3 text-center">
      <div class="container-fluid">
        <h5 class="text-uppercase font-weight-bold">Programming School</h5>
        <p>Designed and built by the Programming School team with the
                        help of our contributors.
                        Code licensed PS, version 1.0
                        Currently v1.8.</p>
          © 2021, programming school. All right reserved. |
                  Terms and Conditions | Privacy Policy | GDPR
      </div>
  </div>
  <!-- Copyright -->

</footer>
