{% extends 'home/base.html' %}
{% load static%}
{% load bootstrap4 %}
{% load crispy_forms_tags %} 

{% block content %}
<style>
    footer {
    position:absolute;
    bottom:0;
    width:100%;
 }
</style>
    <h1>{{ user.username }}</h1>
    <a class="btn btn-primary" href="{% url 'projects' %} "><i class="fab fa-python"></i> Proiectele tale Python </a>
    <a class="btn btn-primary" href="{% url 'html_css_js_projects' %} "> <i class="fab fa-html5"></i> <i class="fab fa-css3-alt"></i> <i class="fab fa-js-square"></i> Proiectele tale HTML CSS JavaScript </a>
{% endblock %}