{% extends 'home/base.html' %}
{% load static%}
{% load bootstrap4 %}
{% load bootstrap_icons %}

{% block head %} 

<script src="/static/js/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/static/python_interpretor/css/codemirror.css">
<link rel="stylesheet" type="text/css" media="all" href="/static/python_interpretor/css/solarized.css">

<script src="/static/python_interpretor/js/skulpt.js" type="text/javascript"></script>
<script src="/static/python_interpretor/js/skulpt-stdlib.js" type="text/javascript"></script> 
<script src="/static/python_interpretor/js/codemirrorepl.js" type="text/javascript"></script>
<script src="/static/python_interpretor/js/repl.js" type="text/javascript"></script>
<script src="/static/python_interpretor/js/python.js" type="text/javascript"></script>
<script src="/static/python_interpretor/js/editor.js" type="text/javascript"></script>
<script src="/static/python_interpretor/js/plugins.js" type="text/javascript"></script>



<style>
        swal-html {
        text-align: left;
}
</style>
{% endblock %}
{% block content %}
{% for e in exercise %}
<h1>{{ e.title }}</h1>
<p>{{ e.description }}</p>
<div class="container p-3 ">
<textarea id="code" cols="85" rows="25">
{{ e.exercise }}
</textarea>
<div class="p-1 text-center">
<button class="btn btn-primary " id="skulpt_run">{% bs_icon 'play' %} Run</button>
<template id="help">
        <swal-html>{{ e.help|safe }}</swal-html> 
</template>
<button class="btn btn-outline-info" onclick="help()"><i class="far fa-question-circle"></i> Help</button> 
        <script>
                function help (){Swal.fire({template : '#help'})}
                
        </script>
</div>
{% endfor %}
<div id="mycanvas" class="d-block" style="box-sizing: border-box ;">
<pre id="edoutput" style=" color: black;">
</pre>
</div>
<div class="p-1 text-center">
        <a class="btn btn-danger" id="clearoutput">Clear</a>
</div>
</div>
{% endblock %}
{% block scripts %}{% include 'includes/scripts.html' %}{% endblock %}