{% extends 'home/base.html' %}
{% load bootstrap_icons %}

{% block title %}Python IDE{% endblock %}

{% block head %} 
<script src="/static/js/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/static/python_interpretor/css/codemirror.css">
<link rel="stylesheet" type="text/css" media="all" href="/static/python_interpretor/css/solarized.css">

<script src="/static/python_interpretor/js/skulpt.js" type="text/javascript"></script>
<script src="/static/python_interpretor/js/skulpt-stdlib.js" type="text/javascript"></script> 
<script src="/static/python_interpretor/js/codemirrorepl.js" type="text/javascript"></script>
<script src="/static/python_interpretor/js/repl.js" type="text/javascript"></script>
<script src="/static/python_interpretor/js/python.js" type="text/javascript"></script>
<script src="/static/python_interpretor/js/editor.js" type="text/javascript"></script>
<script src="/static/python_interpretor/js/plugins.js" type="text/javascript"></script>

{% endblock %}

{% block content %}
        {% if user.is_authenticated %}
                <div class="container mt-5">
                        <form method="post">
                                <button  onclick="send()" class="btn btn-outline-secondary " type="submit">Save Project</button>        
                                {% csrf_token %}
                                {{ form.project_code }}
                        </form> 
                        <div class="row justify-content-around">
                                <div class="col-2 p-1">
                                        <button class="btn btn-primary " id="skulpt_run">{% bs_icon 'play' %} Run</button> 
                                </div>
                                <div class="col-2 p-1">
                                        <form action="{% url 'IDE:project_delete'  projects.id  %}" method="POST">
                                                {% csrf_token %}
                                                <input class="btn btn-default btn-danger" type="submit" value="Delete" name="{{ projects.id }}"/>
                                        </form>
                                </div>
                        </div>
                        
                        <script>
                                function send(){
                                        var code =  $('.cm-variable');
                                        var prepare_code = $('#code');
                                        for(var i = 0; i < code.length; i++){
                                                prepare_code.append($(code[i]).text());
                                                
                                        }        
                                }
                        </script>

                        <div id="mycanvas" class="d-block" style="box-sizing: border-box ;">
                                <pre id="edoutput" style=" color: black;"></pre>
                        </div>
                        <div class="text-center">
                                <a class="btn btn-danger" id="clearoutput">Clear</a>        
                        </div>
                </div>
        {% else %}
                <p><b>You must first login</b></p>
        {% endif %}
{% endblock %}
