{% extends 'home/base.html' %}
{% load static%}

{% block title %}
        HTML, CSS, JavaScript IDE
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
        <div class="pt-5">
                <div class="container-fluid mt-5">
                        <iframe src="{% url 'HTMLIDE:html_ide' %}" height="800px" width="100%" style="border: 1px solid black;" frameborder="0"></iframe>
                </div>
        </div>
{% else %}
        <div class="pt-5">
                <div class="container-fluid mt-5">
                        <iframe src="{% url 'HTMLIDE:html_ide' %}" height="800px" width="100%" style="border: 1px solid black;" frameborder="0"></iframe>
                </div>
                <p><b>To save your projects, please login </b></p>
        </div>
{% endif %}
{% endblock %}