{% extends 'home/base.html' %}
{% load static%}
{% load bootstrap4 %}

{% block title %}{{ category.title }}{% endblock %}

{% block content %}
<style>
    .anchor:link{
        color: black;
        background-color: transparent;
        text-decoration: none;
    }
    .anchor:visited{
        color:rgb(167, 157, 157);
        background-color: transparent;
        text-decoration: none;
    }
    .card{
        width: 300px;
        height: 300px;
    }

    @media screen and (max-width: 375px) {
  .card {
    width: 160px;
    height: auto;
  }
}
</style>
<div class="d-flex min-vh-100">
    <div class="col mh-100 border" style="max-width: 170px;padding: 0; margin: 0;">
        <nav class="navbar navbar-light bg-light align-items-stretch " > 
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link anchor" href="{{ category.get_absolute }}">{{ category.title }}</a>
                    <nav class="nav nav-pills flex-column">
                        {% for lesson in lessons %}
                            <a class="nav-link ms-3 anchor" href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a>
                        {% endfor %}
                    </nav>
                </nav>
        </nav>
    </div>

    <div class="col">
        <div class='row p-3'>
            {% for lesson in lessons %}
            <div class="col p-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ lesson.title }}</h4>
                        {% autoescape off %}{{ lesson.content }}{% endautoescape %} 
                        <a class="btn btn-primary" type="button" href="{{ lesson.get_absolute_url }}" >{{ lesson.title }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

    

{% endblock %}
