{% extends 'home/base.html' %}
{% load static%}
{% load bootstrap_icons %}
{% load embed_video_tags %}

{% block head %} 
<link rel="stylesheet" href="{% static 'css/python_leson.css' %}">
<script src="/static/js/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/static/python_interpretor/css/codemirror.css">
<link rel="stylesheet" type="text/css" media="all" href="/static/python_interpretor/css/solarized.css">
{% endblock %}

{% block exercise %}
  {% if exercise %}
  <li class="nav-item dropdown"><a aria-expanded="false" data-toggle="dropdown" class="dropdown-toggle nav-link">Exercises</a>
          <div class="dropdown-menu">
                  {% for e in exercise %}
                  <a class="dropdown-item" href="{{e.get_absolute_url}}"><i class="fab fa-python"></i> {{ e.title }}</a>
                  {% endfor %}
          </div> 
  </li>
  {% endif %}
{% endblock %}

{% block content %}
<div class="d-flex min-vh-100">
    <nav id="sidebar" class="pt-5">
      <ul class="list-unstyled components">
          <p>Lecti {{ category }}</p>
          {% for lesson in lessons %}
          <li class="{% for content in lessons_content %}{% if lesson.id == content.id %}active{% endif %}{% endfor %}">
              <a class="nav-link ms-3 anchor" href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a>
          </li>
          {% endfor %}
      </ul>
  </nav>
  <div class="pt-5 ml-1">
    <div class="mt-5">
      {% for lesson in lessons_content %}
    
    {% if lesson.title %}
    <h1>{{lesson.title}}</h1>
    {% endif %}
    
    {% autoescape off %}{{ lesson.content }}{% endautoescape %} 
    
{% if lesson.code_python %}
<div>
<template id="{{ lesson.slug }}">
<swal-html>
<swal-html>
<textarea id="code" cols="85" rows="25">
{{ lesson.code_python }}
</textarea>
<button class="btn btn-primary" id="skulpt_run">{% bs_icon 'play' %} Run</button>           
</swal-html>
      

<swal-html>
<div id="mycanvas" class="d-block" style="box-sizing: border-box ;width: 100%;height: 300px ;">
<pre id="edoutput" style="color:black;">
</pre>
</div>
</swal-html>
</swal-html>
</template>
<div class="p-3">
<button id="something" type="button" class="btn btn-primary" onclick="{{ lesson.slug }}();">Try code</button>
</div>
<script>
        function {{ lesson.slug }}(){
        $.when(
        $.getScript('{% static "python_interpretor/js/skulpt.js" %}'),
        $.getScript('{% static "python_interpretor/js/skulpt-stdlib.js" %}'),
        $.getScript('{% static "python_interpretor/js/codemirrorepl.js" %}'),
        $.getScript('{% static "python_interpretor/js/repl.js" %}'),
        $.getScript('{% static "python_interpretor/js/python.js" %}'),
        $.getScript('{% static "python_interpretor/js/editor.js" %}'),
        $.getScript('{% static "python_interpretor/js/plugins.js" %}'),
        ).done(
        Swal.fire({
        template: '#{{ lesson.slug }}',
        }))
}
</script>
</div>
{% endif %}
    
    {% if lesson.video %}
    <div class="container text-center" >
    {% video lesson.video '100% x 100%' %}        
    </div>
    {% endif %}
    
    {% endfor %}
    </div>
</div>
    </div>
    

{% endblock %}

{% block scripts %}
{% include 'includes/scripts.html' %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
{% endblock %}

